{% extends 'base.html' %}

{%  block head %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/site-preview.png') }}">
    <title>Ethan McPhee</title>
{% endblock %}

{%  block header %}
<nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
</nav>
{% endblock %}

{%  block body %}
<div class="centered-info">
    <span class="face-image">
        <img src="{{ url_for('static', filename='assets/images/faceimage.jpg') }}"/>
    </span>

    <div class="name-and-buttons">
        <div class="name">
            Ethan McPhee
        </div>

        <div class="info-buttons">
            <a href="https://github.com/emcphee" target="_blank">
                <button class="logo-button" id="github-button">
                    <img src="{{ url_for('static', filename='assets/images/github-logo.png') }}" alt="Github Logo">
                </button>
            </a>

            <a href="https://www.linkedin.com/in/ethan-mcphee-075a84166/" target="_blank">
                <button class="logo-button" id="linkedin-button">
                    <img src="{{ url_for('static', filename='assets/images/linkedin-logo.png') }}" alt="LinkedIn Logo">
                </button>
            </a>

            <a href="resume.pdf" target="_blank">
                <button class="resume-button">
                    Resume
                </button>
            </a>
        </div>
    </div>

</div>
{% endblock %}